[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-learn = "*"
line-profiler = "*"

[dev-packages]
ipympl = "*"
memory-profiler = "*"
matplotlib = "*"
pandas = "*"
ipykernel = "*"

[requires]
python_version = "3"
